{% extends "base.html" %}
{% load static %}
{% block title %}Home - Rowan's CS Clubs Resources {% endblock %}

{% block content %}

<div style="text-align: center;">
    <img src='{% static "banner.png" %}' alt="banner">
    <h1>Rowan University's ACM-W Chapter</h1>
    <p>
        Resources and information about ACM-W
    </p>
    <p>
        Explore this website for information regarding E-Board, find useful resources, and upcoming events!
    </p>
    <img src='{% static "acmwlogo.jpeg" %}' alt="banner">
</div>
{% endblock %}